@model IEnumerable<shopinn4.Models.Orders>

@{
    ViewBag.Title = "Orders";
}


<html>
    <head>
        <title>

        </title>
        <style>
            body {margin:0px;
            }
            #container {height:600px;width:100%;background-color:blue;
            }
            #container-mid {height:600px;width:100%;background-color:aliceblue;float:left;
            }
            #menu {margin:0px;padding:0px;
            }
            #menu>li {
                list-style: none;
                display: inline-block;
                padding:10px 0px;
                background-color:blue;
                margin-right:-1px;
            }
                #menu > li > a {text-decoration:none;color:white;padding:10px 25px;
                }
        </style>
    </head>
    <body>
<h2>
Welcome <span style="color:red;">@Session["admin"]</span> <label style="margin-left:1000px;">@Html.ActionLink("Logoff","Logout")</label>
    </h2>
<hr />
        <div id="container">
        <div id="container-mid">
<ul id="menu">
    <li><a href="~/Admin/Catagory">Add Catagory</a></li>
    <li><a href="~/Admin/Product">Add Product</a></li>
    <li><a href="~/Admin/Orders">View Orders</a></li>
    <li><a href="~/Admin/Feedback">View FeedBack</a></li>
</ul>

<h2>Orders</h2>

<table width="100%" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
        </div>
        </div>
    </body>
</html>


